@media (min-width: 1201px){
    .container{max-width: 1200px;padding: 0px;}
}
@media (max-width: 1400px){
    .about-section-content {width: calc(100% - 10%);}
}
@media (max-width: 1366px){
    .about-section-content {width: calc(100% - 5%);}
}
@media (max-width: 1200px){
    .service-section button.theme-btn{width: 55%;padding: 0px 8px;font-size: 16px;}
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close{margin-top: 0px !important;}
    .site-navbar{padding: 6px 0px;}
    .about-section-content {width: calc(100% - 0%);}
    .menu-hamburger{display: block !important;}
    .site-navbar .site-navigation .site-menu{display: none !important;}
    .heading h1 {font-size: 50px;font-weight: 600;}
    .about-section-content h3 {font-size: 20px;}
    .heading h2, .heading.h1_tag h1 {font-size: 36px;}
    .e-magazine .each-magazine .magazine-content h4 {font-size: 22px;}
    .service-section .each-property-solution h4{font-size: 26px;}
    .service-section .each-property-solution p {font-size: 16px;}
    #moreAdvanceOptionSerachCommercial.moreAdvanceOptionSerachCommercial_view, 
    #moreAdvanceOptionSerachSale.moreAdvanceOptionSerachSale_view, 
    div#moreAdvanceOptionSerachRent.moreAdvanceOptionSerachRent_view{max-width: 100%;}
    .footer_top_section.footer_top_section_bgwhite .content_list ul li{flex-basis: calc(100% / 4 - 5px);}
    .jobbanner-section .jobbanner-text h1{font-size: 36px;line-height: 30px;margin: 20px 0px 20px 0px;}
    .rent_page_content .manage-paragraph{text-align: left !important;}
    .property-rental{padding: 70px 0px;margin: 50px 0px;}
    .property-rental h1 {font-size: 48px;}
    .property-rental h4 {font-size: 26px;}
    .breadcrumbs ul {padding: 8px 0;}
    .breadcrumbs ul li a {font-size: 15px;}
    .guldenland_products, .all_agents {gap: 20px;}
    .all_agents .eachagent_view {padding: 8px;gap: 10px;}
    .property-solution.online_services_view.mb-4 .container {padding: 0px;}
     section.guldenland_section {margin-bottom: 70px;}
    .jobbanner-section.job-bg-banner{height: 300px;}
    .jobbanner-section .jobbanner-text{text-align: center;}
    .jobbanner-section.job-bg-banner .jobbanner-text h1 {font-size: 50px;line-height: 50px;margin: 10px 0px;}
    .jobbanner-section .jobbanner-text h4{font-size: 22px;}
    .joblisting_section .joblisting .each_job{padding: 20px 0;}
    .contact_section .tab__list, .contact_section .tab__content-item .tab__list{padding: 10px;overflow: auto;gap: 8px;}
    .contact_section .tab__content-item .tab__list {width: auto;}
    .contact_section .tab__item {padding: 8px;white-space: nowrap;}
    .contact_section .contact_content h1 {margin: 20px 0;font-size: 28px;}
    .contact_section .addresses_head #address_map{padding-bottom: 50px;}
    .contact_section .maintenance_form_view {margin: 50px 0;}
    .contact_section .management_form h2 {margin-bottom: 20px;}
    .contact_section .tab__content-item .tab__list .tab__item{font-size: 15px;}
    .property-solution.online_services_view.mb-5 .container{padding:0px;}
    .auth_forms_view .col-md-5{max-width: 450px;flex: 450px;}
}
@media (max-width: 1199px){
    .select_buttons{grid-template-columns: repeat(3, 1fr);}
    .all_agents{grid-template-columns: repeat(2, 1fr);}
    .all_agents h6{grid-column: span 2;}
    .all_agents .eachagent_view {grid-template-columns: 90px 1fr;}
    .single_select_buttons button.search-btn {width: 100%;}
    .guldenland_products .guldenland_products_listing, .guldenland_products .guldenland_products_listing .guldenland_all_product{row-gap: 20px;}
    .guldenland_products .guldenland_sidebar .agent_view, .guldenland_products .guldenland_sidebar .contact_sidelist, 
    .guldenland_products .guldenland_sidebar .property_alert, .guldenland_products .guldenland_sidebar .sidelist{padding: 20px;}
    .guldenland_products .guldenland_products_listing .guldenland_each_product .product_img img {width: 220px;max-width: 220px;border-radius: 10px;height: 180px;object-fit: cover;}
    .guldenland_products .guldenland_sidebar {max-width: 290px;min-width: 290px;}
    .guldenland_products .guldenland_products_listing .guldenland_each_product{grid-template-columns: 220px 1fr;}
    .guldenland_products .guldenland_products_listing .guldenland_each_product .product_content h3{font-size: 22px;}
    .guldenland_products .guldenland_sidebar .property_alert .e-magazine-right-content .each-magazine{gap: 10px;}
    .guldenland_products .guldenland_sidebar .property_alert .e-magazine-right-content .each-magazine .icon-div{height: 54px;min-width: 54px;max-width: 54px;}
    .guldenland_products{grid-auto-flow: column dense;grid-template-columns: auto;}
    .apply_online_form_section .apply_online_form .field_row:nth-child(5) .radio-group {grid-template-columns: repeat(5, 1fr);column-gap: 30px;}
    section.guldenland_section.agent_section .guldenland_products .guldenland_products_listing{padding: 30px;}
    section.agentdetail_section .details{padding: 20px;}
    section.agentdetail_section .details .agent_image img {width: 135px;min-width: 135px;height: 135px;}
    section.agentdetail_section .details .agent_detail .agent_social_network {margin-top: 15px;}
    .job_detail_section .job_detail_view{gap: 40px;}
}
@media (max-width: 1024px){
    section.property_section{padding: 60px 0 100px;}
    .property-rental h1 {font-size: 40px;}
    .property-rental h4 {font-size: 22px;}
    .online_services_view .online_services_{grid-template-columns: repeat(4, 1fr);}
    .certificates .each_certificates a{gap: 8px;padding: 8px;font-size: 13px;}
    .rent_content.pt-4 {padding: 0px !important;}
    .training_videos{padding: 50px 0px;margin: 50px 0px;}
    .online_services_view .each-property-solution{padding: 20px 10px;}
    .jobsearch_form_section{margin: 50px 0;padding: 30px;}
    .guldenland_products .guldenland_products_listing .property_first_section{padding: 30px;}
    .guldenland_products .guldenland_products_listing .property_first_section h3, 
    .guldenland_products .guldenland_products_listing .property_first_section h1 {font-size: 26px;}
    .guldenland_products .guldenland_products_listing .each_manage_section h4, 
    .guldenland_products .guldenland_products_listing .property_first_section.property_second_section h4{font-size: 22px;}
    .guldenland_products .guldenland_sidebar .contact_sidelist h4{font-size: 20px;}
    .property-area {grid-template-columns: repeat(3, 1fr);}
}
@media (max-width: 991px){
    .site-mobile-menu .site-nav-wrap a{padding: 6px 20px;}
    .about-section-content button.theme-btn{height: 50px;}
    .offices-section .each_office{flex-basis: 25%;}
    .top_right_text {display: none;}
    .heading h2, .heading.h1_tag h1 {font-size: 32px;}
    .heading h1 {font-size: 42px;}
    .property-solution .each-property-solution{height: 100%;padding: 15px;}
    .latest-news-section .news-image{display: inline-block;}
    .e-magazine-right-content{margin-top: 80px;}
    .section-padding {padding: 50px 0px;}
    .e-magazine.evaluation.section-padding{padding: 50px 0px;margin: 50px 0px;}
    .service-section .each-property-solution{padding: 10px;}
    .footer_top_section:after{height: 100px;}
    .e-magazine .each-magazine{margin-bottom: 30px;}
    .property-solution .each-property-solution .eachimg, .service-section .each-property-solution .eachimg{width: 100px;height: 100px;}
    .property-solution .each-property-solution .eachimg img{width: 60px;}
    .site-mobile-menu .site-nav-wrap > li > a{padding: 8px;font-size: 18px;}
    .site-mobile-menu .site-nav-wrap > li > ul > li > a{padding-left: 20px;}
    .guldenland_products {grid-auto-flow: row;}
    .guldenland_products .guldenland_sidebar {max-width: 100%;min-width: 100%;gap: 20px;}
    .property_alert .e-magazine-right-content{margin-top: 0px;}
    .footer_top_section.footer_top_section_bgwhite .content_list ul li {flex-basis: calc(100% / 3 - 5px);}
    section.guldenland_section {margin-bottom: 50px;}
    .main_footer {padding: 50px 0;}
    .rent_page_content .manage-paragraph{grid: none;gap: 25px;margin-bottom: 40px !important;}
    .broucher a {min-width: 50px;height: 50px;}
    .online_services_view .online_services_ {grid-template-columns: repeat(3, 1fr);}
    .guldenland_products .guldenland_products_listing.manage_section_listing{padding: 20px;}
    .guldenland_products .guldenland_products_listing .each_manage_section h4, 
    .guldenland_products .guldenland_products_listing .property_first_section.property_second_section h4{font-size: 22px;}
    .certificates {margin-top: 40px;}
    .certificates h3{font-size: 22px;}
    .apply_online_form_section .apply_online_form button, 
    .applyproperty_form form .maintenance_form_inner button.send_button, 
    .guldenland_products .guldenland_sidebar .agent_view button, 
    .guldenland_products .guldenland_sidebar .contact_sidelist form button, 
    .maintenance_form_view .maintenance_form .maintenance_form_inner button, 
    .maintenance_form_view .management_form .maintenance_form_inner button{height: 42px;}
    .guldenland_products .guldenland_sidebar .sidelist.sociallinks_list ul {justify-content: center;}
    .guldenland_products .guldenland_sidebar .sidelist.sociallinks_list ul li a img{width: 80px;}
    .clients_logo{overflow: scroll;gap: 10px;}
    .clients_logo img {width: 120px;}
    .jobbanner-section.job-bg-banner .jobbanner-text h1{font-size: 42px;line-height: 40px;}
    .jobbanner-section .jobbanner-text h4, .joblisting_section .joblisting .each_job h4 {font-size: 20px;}
    .jobbanner-section.job-bg-banner {height: 280px;}
    .joblisting_section .joblisting .each_job p{font-size: 15px;}
    .contact_section .tab__content{padding: 28px 28px 0;}
    .contact_section .tab__list, .contact_section .tab__content-item .tab__list {padding: 8px;}
    .contact_section .addresses_head .addresses{row-gap: 30px;padding-bottom: 30px;grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));}
    .contact_section .maintenance_form_view {margin: 40px 0;}
    .contact_section .addresses_head #address_map iframe{width: 100%;height: 400px;}
    .contact_section .addresses_head #address_map {padding-bottom: 28px;}
    .contact_section .management_form h2 {margin-bottom: 10px;}
    .contact_section {padding: 50px 0 0;}
    .about-section .col-lg-6.pl-0{padding: 0px;}
    .maintenance_form_inner {padding: 20px;}
    .maintenance_form_view .maintenance_form form .field_row .radio-group, .maintenance_form_view .management_form form .field_row .radio-group{gap: 10px;}
    .maintenance_form_view .maintenance_form form .field_row .radio-group{flex-wrap: wrap;}
    .maintenance_form_view .maintenance_form form h4 {font-size: 22px;}
    .maintenance_form_view .maintenance_form form .field_row:nth-child(1){gap: 0px;}
    .faqs .content ul{padding: 0px;}
    .apply_online_form_section .apply_online_form .field_row:nth-child(2), .apply_online_form_section .apply_online_form .field_row:nth-child(4) {grid-template-columns: repeat(2, 1fr);}
    .apply_online_form_section .apply_online_form .field_row:nth-child(5) .radio-group {grid-template-columns: repeat(3, 1fr);}
    .job_detail_section .job_detail_view{gap: 30px;flex-wrap: wrap;}
    .job_detail_section .job_left_section{padding: 20px;}
    .job_detail_view div, .job_detail_section .job_left_section {width: 100%;}
    .job_detail_section {padding: 50px 0 60px 0;}
    section.guldenland_section.agent_section .heading h2, 
    section.guldenland_section.agent_section .heading.h1_tag h1 {font-size: 28px;}
    section.guldenland_section.agent_section .guldenland_products .guldenland_products_listing{padding: 20px;}
    section.agentdetail_section .details .agent_detail .agent_social_network ul{grid: none;gap: 10px;}
    .guldenland_products .guldenland_sidebar .property_alert .e-magazine-right-content .each-magazine{grid-template-columns: 54px 1fr;}
    .job_detail_section .job_detail_view{grid-template-columns: auto;gap: 20px;}
    .guldenland_products .guldenland_products_listing .property_first_section{padding: 22px;}
    .property-area {grid-template-columns: repeat(2, 1fr);}
}
@media (max-width: 768px){
    .heading h1 {font-size: 38px;}
    .heading h2, .heading.h1_tag h1 {font-size: 30px;}
    .footer_top_section.footer_top_section_bgwhite .content_list ul li {flex-basis: calc(100% / 2 - 5px);}
    section.guldenland_section {margin-bottom: 40px;}
    .main_footer {padding: 40px 0;}
    .guldenland_products .guldenland_products_listing .guldenland_each_product .product_content small{line-height: normal;}
    .guldenland_products .guldenland_products_listing .order_grid_view{padding: 8px 0px;}
    .guldenland_products .guldenland_sidebar .agent_view, 
    .guldenland_products .guldenland_sidebar .contact_sidelist, 
    .guldenland_products .guldenland_sidebar .property_alert, 
    .guldenland_products .guldenland_sidebar .sidelist{padding: 15px;}
    .guldenland_products .guldenland_products_listing .guldenland_each_product .product_content h3 {font-size: 20px;}
    .property-rental {padding: 50px 0px;margin: 40px 0px;}
    .property-rental h4 {font-size: 20px;}
    .property-rental h1 {font-size: 32px;}
    .online_services_view .each-property-solution button.theme-btn, .online_services_view .each-property-solution a.theme-btn{height: 36px;line-height: 36px;}
    .training_videos h2{font-size: 24px;}
}
@media (max-width: 767px){
    .e-magazine .magazine-image-section img{height: 310px;}
    .rent_page_content .manage-paragraph{margin-bottom: 30px !important;}
    .site-mobile-menu .site-nav-wrap .arrow-collapse{width: 26px;height: 26px;}
    .site-mobile-menu .site-nav-wrap > li > a, .site-mobile-menu .site-nav-wrap>li>ul>li>a{padding: 4px;font-size: 15px;}
    .site-mobile-menu .site-nav-wrap>li>ul>li>a{padding-left: 12px;font-size: 14px;}
    .select_buttons .single_select_buttons.select_icon span.multiselect-native-select button.multiselect {text-align: left !important;}
    section.property_section{padding: 60px 0px;}
    .heading h2, .heading.h1_tag h1 {font-size: 28px;margin-bottom: 20px;}
    .heading h1 {font-size: 32px;}
    .property-solution .each-property-solution .eachimg, .service-section .each-property-solution .eachimg{width: 90px;height: 90px;}
    .property-solution .each-property-solution .eachimg img, .service-section .each-property-solution .eachimg img{width: 50px;}
    .about-section-content button.theme-btn {height: 45px;width: 150px;}
    .service-section .each-property-solution h4 {font-size: 24px;}
    .service-section .each-property-solution p{width: 100%;}
    .footer_top_section h5{margin-bottom: 10px;}
    .main_footer .footer_main_content h5{margin-bottom: 20px;}
    .main_footer .footerlogo_socialicon .footer_logo{width: 200px;}
    .main_footer{padding: 50px 0px;}
    .property-section-content button#button-addon2{padding: 0px 20px;}
    .property-solution .each-property-solution button.theme-btn {font-size: 16px;}
    .offices-section .each_office h6{font-size: 13px;}
    .offices-section .each_office img {width: 90px;}
    .e-magazine .magazine-image-section .theme-btn{height: 60px;bottom: -30px;}
    section.property_section:after, button.theme-btn{height: 40px;}
    .select_buttons{justify-content: start;}
    .all_agents .eachagent_view {flex-basis: calc(100% / 1 - 0px);}
    .breadcrumbs ul li{white-space: nowrap;opacity: 0;}
    .breadcrumbs ul li a{display: none;}
    .online_services_view .online_services_ {grid-template-columns: repeat(2, 1fr);}
    .training_videos {padding: 40px 0px;margin: 40px 0px;}
    .contact_section .maintenance_form_view .management_form form .field_row:nth-child(2), 
    .contact_section .maintenance_form_view .management_form form .field_row:nth-child(4) {gap: 0px;}
    .clients_logo img {width: 100px;}
    .joblisting_section .joblisting .each_job .job_title {flex-basis: 190px;}
    .jobsearch_form_section form .form-group {flex-basis: calc(100% / 1 - 0px);margin-top: 10px;}
    .jobsearch_form_section form {gap: 0px;}
    .jobsearch_form_section {margin: 40px 0;padding: 20px;}
    .footer_top_section.anotherpage_footer {margin-top: 80px;}
    .contact_section .management_form {max-width: 500px;}
    .contact_section .tab__content {padding: 12px 12px 0;}
    .contact_section .addresses_head #address_map {padding-bottom: 10px;}
    .contact_section .tabs_section .container {padding:0px;}
    .contact_section .addresses_head .addresses {row-gap: 20px;padding-bottom: 20px;}
    .contact_section {padding: 40px 0 0;}
    .contact_section .contact_content h5 {font-size: 16px;}
    .contact_section .contact_content h1 {margin: 12px 0;font-size: 26px;}
    .contact_section .addresses_head #address_map iframe {height: 300px;}
    .contact_section .management_form h2 {font-size: 24px;}
    .auth_forms_view {padding: 40px 0;}
    .auth_forms_view button.submit_button {padding: 8px;font-size: 16px;width: 90%;}
    .select_buttons.mb-3 .single_select_buttons {flex-basis: calc(100% / 3 - 20px);}
    .guldenland_products .guldenland_products_listing, 
    .guldenland_products .guldenland_products_listing .guldenland_all_product, 
    .guldenland_products, 
    .all_agents {gap: 15px;row-gap: 15px;}
    .propertyalert_section {padding: 40px 0 20px;}
    .faqs .set > a {font-size: 14px;padding: 10px;}
    .faqs .content p {font-size: 14px;margin: 0px;}
    .faqs .content ul {margin: 0px;}
    .apply_online_form_section .apply_online_form {padding: 20px;}
    .apply_online_form_section .apply_online_form .field_row:nth-child(1) {grid-template-columns: .5fr 1fr 1fr;}
    section.guldenland_section.agent_section .heading h2, 
    section.guldenland_section.agent_section .heading.h1_tag h1 {font-size: 24px;}
    section.agentdetail_section .details {padding: 10px;}
    section.agentdetail_section .details .agent_image img {width: 100px;min-width: 100px;height: 100px;}
    section.guldenland_section.agent_section .guldenland_products .guldenland_products_listing, 
    section.guldenland_section.agent_section .guldenland_products .guldenland_products_listing .guldenland_all_product {row-gap: 10px;}
    section.guldenland_section.agent_section .guldenland_products .guldenland_products_listing {padding: 8px;}
    .job_detail_section {padding: 40px 0;}
    .job_detail_section .job_detail_view {gap: 15px;}
    .job_detail_section .job_left_section h1 {font-size: 25px;line-height: 20px;}
    .job_detail_section .job_left_section .job_info p, 
    .job_detail_section .job_left_section .job_email p, 
    .job_detail_section .job_left_section .job_reference p {font-size: 16px;margin-bottom: 0px;}
    .apply_online_form_section {padding-bottom: 50px;}
    .guldenland_products .guldenland_products_listing .property_first_section .property_first_section_price_search {margin-bottom: 20px;flex-direction: column;align-items: start;}
    .guldenland_products .guldenland_products_listing .property_first_section .property_first_section_price_search .property_first_section_search {margin-top: 15px;}
    .guldenland_products .guldenland_sidebar .agent_view .agent_img_name img {max-height: 70px;min-width: 70px;}
    .guldenland_products .guldenland_products_listing .property_first_section .property_first_section_price_search .property_first_section_price h2 {font-size: 26px;}
    .guldenland_products .guldenland_products_listing .property_first_section h3, 
    .guldenland_products .guldenland_products_listing .property_first_section h1 {font-size: 24px;}
    .guldenland_products .guldenland_products_listing .property_first_section .property_first_section_price_search .property_first_section_search a {width: 40px;height: 40px;}
    div#map_tuts {height: 350px !important;}
    #sync1.owl-theme .owl-next, #sync1.owl-theme .owl-prev {width: 30px;height: 30px;}
    #sync1.owl-theme .owl-next svg, #sync1.owl-theme .owl-prev svg {width: 10px;}
    .property_pagination .pagination .page-item .page-link {padding: 5px;}
    .property_pagination .pagination .page-item.active .page-link {width: 25px;height: 25px;}
    .product_table .table {font-size: 13px;}
    .product_table .table tr td, .product_table .table tr th {min-width: 120px;padding: 6px;}
    .scheme_consultation {top: auto;right: 0;bottom: 0;width: 100%;}
    .scheme_consultation a {max-width: 100%;border-radius: 0;justify-content: center;padding: 10px;gap: 10px;}
    .scheme_consultation img {width: 28px;}
    .copyright_section {margin-bottom: 50px;}
}
@media (max-width: 575px){
    .site-mobile-menu {padding-top: 10px;}
    .site-mobile-menu .site-mobile-menu-body {padding: 10px 20px;}
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {font-size: 26px;}
    .property-section-content .input-group-prepend.selectwithinput .select_buttons select{width: 75px;padding: 0px;}
    .all_agents {grid-template-columns: repeat(1, 1fr);}
    .all_agents h6 {grid-column: span 1;}
    .reset-filter{margin-top: 10px;}
    section.property_section {padding: 50px 0px;}
    .recent-search, .property-tabs__reset{flex-wrap: wrap;flex-direction: column;align-items: flex-start !important;}
    p {font-size: 14px;}
    img.header_logo {width: 200px;}
    .heading h2, .heading.h1_tag h1 {font-size: 24px;margin-bottom: 20px;}
    .heading h1 {font-size: 28px;}
    .heading h3 {font-size: 22px;}
    .property-tabs__reset ul#pills-tab li a{padding: 5px 12px;}
    .form-control.search-input, .select_buttons .single_select_buttons select, .single_select_buttons button.search-btn {height: 32px;}
    .input-group.mb-3.search_view {padding: 3px;}
    .property-solution .each-property-solution button.theme-btn {font-size: 15px;}
    .about-section-content h3, .latest-news-section .news-date h5 {font-size: 16px;}
    .about-section-content button.theme-btn {height: 40px;}
    .latest-news-section .news-content h5{margin: 10px 0px;}
    .section-padding {padding: 40px 0px;}
    .e-magazine.evaluation.section-padding{padding: 40px 0px;margin: 40px 0px;}
    .e-magazine .magazine-image-section .theme-btn{height: 50px;bottom: -25px;font-size: 18px;}
    .e-magazine .each-magazine {display: block;text-align: center;}
    .e-magazine .each-magazine .icon-div {min-width: 70px;max-width: 70px;height: 70px;margin: 0px auto 10px;}
    .e-magazine .each-magazine .icon-div img{width: 35px;}
    .latest-news-section .news-date h3 {font-size: 26px;}
    .latest-news-section .news-date{height: 60px;width: 60px;}
    .e-magazine-right-content {margin-top: 60px;}
    .service-section .each-property-solution h4, .e-magazine .each-magazine .magazine-content h4 {font-size: 20px;}
    br.brr {display: none;}
    .property-solution .each-property-solution .eachimg, .service-section .each-property-solution .eachimg {width: 70px;height: 70px;}
    .property-solution .each-property-solution .eachimg img, .service-section .each-property-solution .eachimg img {width: 40px;}
    .main_footer .footerlogo_socialicon, .copyright_section .copyright_content {justify-content: center;flex-direction: column;}
    .main_footer .footerlogo_socialicon ul, .copyright_section .copyright_content ul{margin-top: 10px;padding: 0px;}
    .footer_top_section h5, .property-solution .each-property-solution h5{font-size: 18px;}
    .e-magazine .each-magazine .magazine-content p {line-height: normal;font-size: 14px;}
    .service-section button.theme-btn{font-size: 16px;width: 60%;margin: -20px auto;}
    .latest-news-section .news-content {padding: 0px 5px;}
    .select_buttons .single_select_buttons.select_icon span.multiselect-native-select button.multiselect{height: 32px;}
    .property-section-content button.button-addon2, .search_view .select2-container--default .select2-selection--multiple{min-height: 32px;height: 32px;width: 100%;}
    /*.search_view .select2-container--default .select2-selection--multiple{}*/
    .property_section .select2-container--default .select2-selection--multiple .select2-selection__rendered{flex-wrap: nowrap;}
    .input-group.mb-3.search_view .input-group-append{width: 100%;}
    .search_view .select2-container .select2-search--inline .select2-search__field{font-size: 14px;}
    .property_section .col-12.col-lg-8.pr-0 {padding-right: 10px !important;}
    .e-magazine.section-padding, .service-section.section-padding {padding: 50px 0 60px 0;}
    .main_footer {padding: 30px 0px;}
    .rent_content h4 {font-size: 22px;}
    .guldenland_products .guldenland_products_listing.manage_section_listing{padding: 15px;}
    .guldenland_products .guldenland_products_listing .each_manage_section h4, 
    .guldenland_products .guldenland_products_listing .property_first_section.property_second_section h4{font-size: 20px;}
    .property-rental .theme-btn{height: auto;padding: 6px 15px;font-size: 16px;font-weight: 400;}
    .property-rental {padding: 40px 0px;}
    .property-rental h1 {font-size: 28px;margin-bottom: 25px;}
    .guldenland_products .guldenland_sidebar .contact_sidelist form input {height: 36px;}
    .main_footer .footer_main_content h5 {margin-bottom: 10px;}
    .all_agents .eachagent_view img{min-width: 80px;height: 80px;}
    .all_agents .eachagent_view {grid-template-columns: 80px 1fr;}
    .all_agents .eachagent_view .agent_name_contact p{margin: 2px 0;}
    .apply_online_form_section .apply_online_form button, 
    .applyproperty_form form .maintenance_form_inner button.send_button, 
    .guldenland_products .guldenland_sidebar .agent_view button, 
    .guldenland_products .guldenland_sidebar .contact_sidelist form button, 
    .maintenance_form_view .maintenance_form .maintenance_form_inner button, 
    .maintenance_form_view .management_form .maintenance_form_inner button {height: 40px;}
    .apply_online_form_section .apply_online_form .field_row input, 
    .apply_online_form_section .apply_online_form .field_row select, 
    .applyproperty_form .maintenance_form_inner .field_row input, 
    .applyproperty_form .maintenance_form_inner .field_row select, 
    .maintenance_form_view .maintenance_form form .field_row input, 
    .maintenance_form_view .management_form form .field_row input,
    .auth_forms_view form input.form-control{height: 38px;}
    .manage-paragraph p.d-flex.align-items-center{flex-direction: column;gap: 20px;}
    section.guldenland_section.about_page_content.mt-5, section.guldenland_section {margin-top: 10px !important;}
    .jobbanner-section.job-bg-banner {height: 240px;}
    .jobbanner-section.job-bg-banner .jobbanner-text h1 {font-size: 34px;}
    .jobbanner-section .jobbanner-text h4 {font-size: 16px;line-height: normal;}
    .joblisting_section .joblisting .each_job {padding: 10px 0;flex-direction: column;gap: 20px;}
    .joblisting_section .joblisting .each_job .job_title {flex-basis: auto;}
    .jobsearch_form_section form input, .jobsearch_form_section form select {height: 38px;}
    .contact_section .management_form {max-width: 100%;padding: 0px 15px;}
    .contact_section {padding: 30px 0 0;}
    .contact_section .addresses_head #address_map iframe {height: 280px;}
    .contact_section .tab__list, .contact_section .tab__content-item .tab__list {padding: 4px;}
    .contact_section .tab__item {padding: 5px;}
    .contact_section .maintenance_form_inner .field_row .form-group{margin-bottom: 6px;}
    .guldenland_products .guldenland_products_listing .each_manage_section .read-more a{padding: 4px 10px;}
    .search_view .select2-container--default .select2-selection--multiple .select2-selection__choice{padding: 2px;font-size: 12px;}
    .propertyalert_section h1, .auth_forms_view h1{font-size: 26px;}
    .footer_top_section.anotherpage_footer {margin-top: 60px;}
    .rent_page_content .manage-paragraph{margin-bottom: 20px !important;}
    .maintenance_form_view .maintenance_form form .field_row:nth-child(1){grid: none;}
    .guldenland_products .guldenland_products_listing .guldenland_each_product{grid-auto-flow: row;grid-template-columns: auto;}
    .guldenland_all_product .product_img, .guldenland_products .guldenland_products_listing .guldenland_each_product .product_img img{width: 100%;max-width: 100%;}
    .guldenland_products .guldenland_sidebar .agent_view, .guldenland_products .guldenland_sidebar .contact_sidelist, .guldenland_products .guldenland_sidebar .property_alert, .guldenland_products .guldenland_sidebar .sidelist {padding: 10px;}
    .apply_online_form_section .apply_online_form .field_row:nth-child(5) .radio-group, .apply_online_form_section .apply_online_form .field_row:nth-child(7) {grid-template-columns: repeat(2, 1fr);}
    .next-previous_view {gap: 8px;}
    .next-previous_view button {font-size: 16px;width: 160px;}
    .apply_online_form_section .apply_online_form {padding: 10px;}
    .job_detail_section .job_left_section .job_info p, .job_detail_section .job_left_section .job_email p, .job_detail_section .job_left_section .job_reference p {font-size: 15px;}
    .guldenland_products .guldenland_sidebar .property_alert .e-magazine-right-content .each-magazine .icon-div {height: 45px;min-width: 45px;max-width: 45px;}
    .guldenland_products .guldenland_sidebar .property_alert .e-magazine-right-content .each-magazine .icon-div img {height: 28px;min-width: 28px;}
    .guldenland_products .guldenland_sidebar .property_alert .e-magazine-right-content .each-magazine {grid-template-columns: 45px 1fr;}
    .guldenland_products .guldenland_products_listing .property_first_section {padding: 12px;}
    #sync1 .item img {height: 300px;}
    #sync2 .item img {height: 80px;}
    .guldenland_products .guldenland_products_listing .property_first_section h3, 
    .guldenland_products .guldenland_products_listing .property_first_section h1 {font-size: 22px;}
    .guldenland_products .guldenland_products_listing .property_first_section .property_first_section_price_search .property_first_section_price h2 {font-size: 24px;}
    .recent-search-view {flex-direction: column;}
    .guldenland_products .guldenland_products_listing .order_grid_view .list_map_view p {font-size: 14px;}
    .footer_top_section .content_list ul li {font-size: 15px;}
    .property_pagination .pagination {gap: 5px;}
    .property_pagination .pagination .page-item.active .page-link {width: 20px;height: 20px;}
    .property_pagination .pagination .page-item .page-link {padding: 4px;}
    .property-area {grid-template-columns: repeat(1, 1fr);}
    .product_table h3 {font-size: 16px;}
}
@media (max-width: 465px){ 
    .copyright_section {margin-bottom: 60px;}
}
@media (max-width: 480px){
    .e-magazine .magazine-image-section img {height: 210px;}
    .select_buttons, #moreAdvanceOptionSerachCommercial, #moreAdvanceOptionSerachSale, div#moreAdvanceOptionSerachRent {grid-template-columns: repeat(2, 1fr);}
    .guldenland_products .guldenland_products_listing .order_grid_view .list_map_view p {display:none;}
    .reset-filter {width: 120px;margin-top: 10px;}
    .footer_top_section.footer_top_section_bgwhite .content_list ul li {flex-basis: calc(100% / 1 - 5px);}
    .guldenland_products .guldenland_sidebar .sidelist h4, .guldenland_products .guldenland_sidebar .sidelist.contact_sidelist h4 {font-size: 16px;}
    .jobbanner-section .jobbanner-text h1 {font-size: 30px;line-height: 24px;}
    .manage-paragraph.text-justify {text-align: left !important;}
    .online_services_view .online_services_ {grid-template-columns: repeat(1, 1fr);}
    .auth_forms_view .col-md-5 {max-width: 100%;flex: auto;}
    .apply_online_form_section .apply_online_form .field_row:nth-child(1) {grid-template-columns: 1fr 2fr 2fr;}
     #moreAdvanceOptionSerachCommercial.moreAdvanceOptionSerachCommercial_view, 
    #moreAdvanceOptionSerachSale.moreAdvanceOptionSerachSale_view, 
    div#moreAdvanceOptionSerachRent.moreAdvanceOptionSerachRent_view {height: 100%;}
    section.agentdetail_section .details {flex-direction: column;}
    section.agentdetail_section .details .agent_detail {padding-left: 0px;}
    section.agentdetail_section .details .agent_image {text-align: center;}
    .guldenland_products .guldenland_products_listing .property_first_section.property_second_section table tr td {font-size: 13px;padding: 10px 5px;}
    .guldenland_products .guldenland_products_listing .property_first_section.property_second_section h6 {font-size: 13px;margin-bottom: 15px;}
}
@media (max-width: 420px){
    .property-solution .each-property-solution {padding: 15px 8px;}
    .propertyalert_form form .form-group{flex-basis: calc(100% / 1 - 0px);margin: 0 0px;}
    .apply_online_form_section .apply_online_form .field_row:nth-child(2), 
    .apply_online_form_section .apply_online_form .field_row:nth-child(4), 
    .apply_online_form_section .apply_online_form .field_row:nth-child(1),
    .apply_online_form_section .apply_online_form .field_row:nth-child(5) .radio-group,
    .apply_online_form_section .apply_online_form .field_row:nth-child(7), 
    .apply_online_form_section .apply_online_form .field_row:nth-child(6){grid-template-columns: repeat(1, 1fr);gap: 0px;}
    .next-previous_view button{font-size: 14px;width: 140px;}
    .job_detail_section .job_left_section .job_info{flex-direction: column;}
}
@media (max-width: 375px){
    .e-magazine .magazine-image-section .theme-btn {height: 40px;}
    #sync1 .item img {height: 260px;}
    #sync2 .item img {height: 60px;}
}
